/* -------------------------------------------------------------------------- */
#outer-container { background: silver;
  width: 1000px;
  overflow: hidden;
  height: auto;
}
/* -------------------------------------------------------------------------- */
#top-box { background-color: #D4D1B0;
  height: 150px;
}
#bottom-box { background-color: #D4D1B0;
  height: 800px;
}
/* -------------------------------------------------------------------------- */
#r1{ background: #D4D1B0;;
  min-height: 200px;
  width: 1000px;
  margin: 0px;
}
#r2{ background: #D4D1B0;;
  min-height: 200px;
  width: 1000px;
  margin: 0px;
}
#r3{ background: #D4D1B0;;
  min-height: 200px;
  width: 1000px;
  margin: 0px;
}
#r4{ background: #D4D1B0;;
  min-height: 200px;
  width: 1000px;
  margin: 0px;
}
/* -------------------------------------------------------------------------- */
#r1_c1, #r1_c2, #r1_c3, #r1_c4, #r1_c5,
#r2_c1, #r2_c2, #r2_c3, #r2_c4, #r2_c5,
#r3_c1, #r3_c2, #r3_c3, #r3_c4, #r3_c5,
#r4_c1, #r4_c2, #r4_c3, #r4_c4, #r4_c5 { background: yellow;
  height: 180.5px;
  width: 180.5px;
  margin: 5px;
  float: right;
  border: 4.5px solid black;
  padding: 0px;
}
/* -------------------------------------------------------------------------- */
#top-c1, #top-c3 {
  background: blue;
  height: 135px;
  width: 250px;
  margin: 5px;
  float: right;
}
#top-c2 {
  background: orange;
  height: 135px;
  width: 467px;
  margin: 5px;
  font-family: cursive;
  text-align: center;
  font-size: 50px;
  float: right;
}
/* -------------------------------------------------------------------------- */
#top-c1_l, #top-c3_r {
  background: #D4D1B0;
  height: 135px;
  width: 100px;
  margin: 0px;
  float: right;
}
#top-c1_r, #top-c3_l {
  background: #D4D1B0;
  height: 135px;
  width: 150px;
  margin: 0px;
  float: right;
}
/* -------------------------------------------------------------------------- */
#top-c2_top{
  background: #D4D1B0;
  height: 70px;
  /* width: 100px; */
}
#top-c2_bottom {
  background: #D4D1B0;
  height: 70px;
  /* width: 100px; */
}
